:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  --t-color: light-dark(#000000, #ffffff);
  --t-color-r: light-dark(#ffffff, #000000);
  --t-color-sub: light-dark(#444444, #aaaaaa);
  --b-color: light-dark(#f0f0e0, #202020);
  --b-color-r: light-dark(#202020, #f0f0e0);
  --blue: light-dark(#4040ff, #c0c0ff);
  --green: light-dark(#208020, #60a060);

  color: var(--t-color);
  background-color: var(--b-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-main);
}

footer {
  font-family: var(--font-footer);
}

pre,
code {
  font-family: var(--font-code);
}

h1 {
  font-family: var(--font-main-bold);
  font-size: 5vh;
}

h2 {
  font-family: var(--font-main-bold);
  font-size: 4.2vh;
}

h3 {
  font-size: 4vh;
}

h4 {
  font-size: 3.8vh;
}

h5 {
  font-size: 3.6vh;
}

h6 {
  font-size: 3.4vh;
}

p,
a,
ul,
pre,
code {
  font-size: 3vh;
}
